@import "./reset.scss";

@font-face {
    font-family: "SO";
    src:
        url("@/assets/fonts/SmileySans-Oblique.woff") format("woff"),
        url("@/assets/fonts/SmileySans-Oblique.ttf") format("truetype");
    font-display: swap;
}