
$primary-color: #3873F0; // 全局主色
$link-color: #1890ff; // 链接色
$success-color: #22BF87;  // 成色
$warning-color: #F67770; // 警色
$error-color: #F55151; // 错误色

// 中性色
$gray-0: #202020;
$gray-1:#5B5B5B; 
$gray-2:#949494; 
$gray-9:#F6F6F8; 
$gray-10:#ffffff;

// 间距
$padding-4: 4px;
$padding-8: 8px;
$padding-12: 12px;
$padding-20: 20px;

$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
