@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1721310007221') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiangzuo1:before {
  content: "\e779";
}

.icon-banbenxinxifuxy201603272:before {
  content: "\e634";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-liuyan:before {
  content: "\e606";
}

.icon-guanbi:before {
  content: "\e609";
}

.icon-aixin:before {
  content: "\e65c";
}

.icon-chenggongyijiejue-:before {
  content: "\e605";
}

.icon-shibaibaocuo-:before {
  content: "\e6dd";
}

